* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(1, 1, 25);
}

.nav-logo {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-text {
    color: rgba(240, 255, 255, 0.666);
    font-size: 1.5em;
    align-items: center;
}

.text-1 {
    margin-left: 20px;
    font-size: 0.85rem;
    color: rgb(213, 216, 219);
}

.text-2 {
    font-size: 1rem;
    color: aliceblue;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    width: 50%;
    background-color: rgb(214, 138, 16);
    border-radius: 5px;
}

.option {
    background-color: rgb(188, 184, 184);
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-box {
    width: 100%;
    font-size: 1em;
    padding: 7px 10px;
}

.search-icon {
    width: 70px;
    height: 50px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 0px transparent;
}

.border:hover {
    border: 2px solid white;
}

.border-s {
    border: 0px transparent;
}

.border-s:hover {
    border: 3px solid rgb(232, 154, 9);
}


.signIn p {
    color: white;
    font-weight: 700;
}

span {
    font-size: 0.85rem;
    color: white;
}


.return p {
    color: white;
    font-weight: 700;
}


.nav-cart {
    display: flex;
    align-items: flex-end;
}

.cart-icon {
    color: white;
    font-size: 1.8rem;
}

.nav-cart p {
    color: white;
    font-size: 0.85rem;
}

.nav-2{
    background-color: #233636;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;

}
.nav-2 p{
    margin-left: 20px;
}
.menu-nav{
    margin-left: 20px;
}
.main_section{
    background-image: url('bg.jpg');
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
}
.main-msg{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 40px;
    margin-bottom: 60px;
    
}
.main-msg p a{
    color: rgb(28, 141, 145);
}

.shop-cards{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 221, 0);
    flex-wrap: wrap;
}
.shop-cards1{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(248, 240, 192);
    flex-wrap: wrap;
}
.box{
    /* border: 2px solid  black; */
    width: 23%;
    height: 450px;
    background-color: white;
    margin-top: 50px;
}
.box-content{
 margin-left: 25px;
 margin-top: 20px;
}

/* .img{
    background-image: url('box1_image.jpg');
    height: 50px;
    width: 50px;
} */
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-bottom: 20px;
    
}


.shop_card2{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(248, 240, 192);
    
}

.box_{
    /* border: 2px solid  black; */
    width: 23%;
    height: 450px;
    background-color: white;
    margin-top: 50px;
}
.box-content1{
    margin-left: 25px;
    margin-top: 20px;
   }
.box-content1 p{
    margin-top: 20px;
}
.prod1{
    margin-left: 40px;

}
.panel1{
    height: 60px;
    background-color: #233636;
    align-items: center;
    display: flex;
    justify-content: center;
}
.panel1 p{
    color: white;
    font-size: 0.95rem;
}
.panel2{
    height: 350px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
}
.panel-text p{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.panel2 ul li{
    margin-bottom: 15px;
    list-style-type: none;
}
.panel-text{
    margin-top: 40px;
}
.underline{
    border: none;
}
.underline:hover{
    border-bottom: 2px solid white;
}

.panel3 {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel3 img{
    margin-left: 200px;
}
.button-box{
    margin-right: 450px;
}

button{
    background-color: black;
    border-color: aliceblue;
    background-size: cover;
    height: 30px;
}